{{!-- Error handling --}}

{{#if error}}
  <div class="div alert alert-danger">{{error}}</div>
{{/if}}

{{#each errors}}
  <div class="div alert alert-danger">{{text}}</div>
{{else}}

{{/each}}