

  <div id="websiteDescription">Share and discover all your favorite recipes!</div>

  <div id="breaker"></div>


  <div id="favoriteRecipes"=>
    {{!-- insert handlebars for each loop here --}}
    {{!-- instead of favRecipes.js --}}
    {{#each recipes}}

    <div class="favs" id={{this.id}}>

      {{this.recipe_name}}

    </div>

    {{/each}}
  </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script src="/js/index.js"></script>
<script src="/js/recipePage.js"></script>

{{!--
<script type="text/javascript" src="/js/favRecipes.js" charset="utf-8"></script> --}}