<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Recipe</h5>
          <p>
            <strong>ID</strong>: {{recipe.id}}</p>
          <p>
          <p>
            <strong>Recipe Name</strong>: {{recipe.name}}</p>
          <p>
            <strong>Description:</strong> {{recipe.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>

      {{#if user}}
      <button id="addFav" recipeId={{recipe.id}}>Favorite!</button>
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/favorite.js"></script>
{{!-- handlebars tags pull based on the URL --}}